.App {
  text-align: left;
  padding-bottom: 5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item-photo {
  max-width: 15rem;
}

.item {
  max-width: 300px;
  border: 2rem;
  padding: 1rem;

}

.item-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.type-choices {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.upperBody {
  display: flex;
  justify-content: center;
}

.outfitItem {
  display: inline-block;
  position: relative;
  height: 100%;
}

.outfitItemBtn {
  width: 0;
  height: 0;
  position: absolute;
  right: 15%;
  bottom: 5%;
}

#all-button {
  background-color: #9cc4d9;
  text-align: center;
}

.cat-buttons {
  background-color:  #b19cd9;
  color: white;
}